<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <!--  Configuration property isn't working right now  -->
<!--	<Configuration>Release</Configuration>-->
<!--    <Platform>Any CPU</Platform>-->

    <AssemblyName>green-cobra-windows</AssemblyName>
    
    <PublishProtocol>FileSystem</PublishProtocol>
    <TargetFramework>net6.0</TargetFramework>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <PublishSingleFile>true</PublishSingleFile>
    <PublishReadyToRun>False</PublishReadyToRun>
    
    <PublishTrimmed>true</PublishTrimmed>
    <SuppressTrimAnalysisWarnings>true</SuppressTrimAnalysisWarnings>
    <AppendTargetFrameworkToOutputPath>false</AppendTargetFrameworkToOutputPath>
    
  </PropertyGroup>

  <!--    Languages can be trimmed using-->
  <!--    <SatelliteResourceLanguages>en-US</SatelliteResourceLanguages>-->
  <!--      <Message Text="OutputPath => $(OutputPath)" Importance="high" />-->
  <!--      <Message Text="PublishDir => $(PublishDir)" Importance="high" />-->
  <!--      <Message Text="MSBuildProjectDirectory => $(MSBuildProjectDirectory)" Importance="high" />-->

  <Target Name="ZipOutputPath" AfterTargets="Build">
      <ZipDirectory
              SourceDirectory="$(PublishDir)"
              DestinationFile="$(OutputPath)\$(AssemblyName).zip" />
  </Target>
  
</Project>